{{! Este es la plantilla del sidebar }}
<div class='barra-lateral d-flex flex-column align-items-center p-4'>
    <img src='img/usuario.png' class='foto-perfil-usuario w-50 p-1' alt='mi-foto-de-perfil' />
    <span class='saludo-usuario text-white fw-bold fs-5 py-3'>
        Bienvenido
        {{#if userName}}
            {{userName}}
        {{else}}
            Usuario
        {{/if}}
    </span>

    <ul class='caja-items list-unstyled w-100 d-flex flex-column gap-2'>
        <li class='item-menu'>
            <i class='bi bi-person-fill fs-4'></i>
            <span>
                Mi Perfil
            </span>
        </li>
        <hr class='border border-1 border-white w-100' />
        <li class='item-menu'>
            <i class='bi bi-bell-fill fs-5'></i>
            <span>
                Notificacion
            </span>
        </li>
        <li class='item-menu'>
            <i class='bi bi-image-fill fs-5'></i>
            <span>
                Mi galeria
            </span>
        </li>
        <li class='item-menu'>
            <i class='bi bi-folder-fill fs-5'></i>
            <span>
                Mis Albumes
            </span>
        </li>
        <hr class='border border-1 border-white w-100' />
        <li class='item-menu' onclick="cerrarSesion('{{userName}}')">
            <i class='bi bi-arrow-right-square-fill fs-5'></i>
            <span>
                Cerrar Sesion
            </span>
        </li>
    </ul>
</div>