@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700;900&display=swap');

:root{
  --color1: #291973c4;
  --color2: #A72F89;
  --color3: #02A302;
  --color4: #EFF1F5;
  ;
}

body{
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--color4);
  overflow-x: hidden;
  background-image: url('/img/img.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

a{
    text-decoration: none;
    color: #000000;
  }
  a:hover{
    color: #565353;
  }
#header {
  /* background: rgba(0, 0, 0, 0.6); */

  background: var(--color1);
  backdrop-filter: blur(10px);
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 99;
  color: #2A1973;
  padding:  0px 13px 0px 13px;  
}

.contenedor-header{
  height: 60px;
}

.icono-menu{
  font-size: 25px;
  color: #FFFFFF;
  cursor: pointer;
}


.btn-admin{
  color: #FFFFFF;
}

#contenedorSlider{
  padding-top: 80px;
}

/* estilos card recuerdos */
.recuerdos{
  background: #FFFFFF;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 5px 5px;
  border-radius: 5px;
  margin: 0.5em;
  padding: 0.5em;
  width: 200px;
  height: 330px;
  justify-content: center;
  position: relative;
}

/*CUADRO LOGIN*/

.text-color {
  color: rgb(255, 255, 255);


}.separacion {
  margin-bottom: 15px;
}

.redondeado {
  border-radius: 20px;
}

.btn-login{
  background-color: #722197be;
  color: rgb(252 252 252);           
  border: none;             
  border-radius: 20px;      
  padding: 5px 10px;     
  font-size: 16px;           
  cursor: pointer;           
  transition: background-color 0.3s ease;
}

.login-g {
  background-color: #000000c9;
  box-shadow: none;
  border-radius: 5%;
  max-width: 330px;
  width: 282.6px;
  left: 1px;
  padding-right: 6px;
  padding-left: 10px;
  margin: 0 auto; 
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .login-g {
    max-width: 280px; 
    width: 260px; 
    padding-left: 8px; 
    padding-right: 8px; 
  }
}

@media (max-width: 576px) {
  .login-g {
    max-width: 260px; 
    width: 260px; 
    padding-left: 10px; 
    padding-right: 10px;
  }
}

@media (max-width: 360px) {
  .login-g {
    max-width: 260px;
    width: 260px;
  }
}


.title {
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 100;
  color: #e4e0e0;
}

.subtitle {
  font-size: 2rem;
  font-weight: 300;
  opacity: 0.9;
  color: #ffffff ;
}

@media (max-width: 768px) {
  .title {
    font-size: 4.5rem; 
    letter-spacing: 3px;
  }

  .subtitle {
    font-size: 1.5rem; 
    opacity: 0.8; 
  }
}


@media (max-width: 768px) {
  .title {
    font-size: 4rem; 
  }

  .subtitle {
    font-size: 1.5rem; 
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 3rem; 
  }

  .subtitle {
    font-size: 1.2rem;
  }

  .tex {
    padding: 10px;
  }

}

.modal-regist{
  background-color: #ffffff;
  padding: 15PX;
}



.modal-title {
  margin: 0 ;
  padding: 0 ;
  line-height: 1;
}

.text-right {
  text-align: right;
}

.modal-dialog {
  max-width: 95%; 
  position: absolute;
  right: -2.5%; 
  top: 15%; 
  margin-right: 20px; 
  padding: 20px; 
  border-radius: 15px; 
  width: 100%; 
  transition: all 0.3s ease; 
}

@media (min-width: 1440px) {
  .modal-dialog {
    position: fixed; 
    max-width: 30%; 
    right: 6%; 
    top: 10%; 
    padding: 25px; 
    border-radius: 35px; 
  }
}


@media (min-width: 1024px) and (max-width: 1366px) {
  .modal-dialog {
    position: fixed; 
    max-width: 35%;
    right: -2%; 
    top: 10%; 
    padding: 20px; 
    border-radius: 25px; 
  }
}

@media (max-width: 768px) {
  .modal-dialog {
    position: fixed; 
    max-width: 40%; 
    right: 3%;
    top: 10%; 
    margin-right: 0; 
    padding: 15px; 
    border-radius: 20px;
  }
}


@media (max-width: 576px) {
  .modal-dialog {
    position: fixed; 
    max-width: 90%; 
    top: 12%; 
    right: 5%; 
    padding: 10px; 
    border-radius: 15px; 
  }
}

@media (max-width: 360px) {
  .modal-dialog {
    position: fixed; 
    top: 15%; 
    left: 3%; 
    max-width: 90%;
    padding: 8px;
  }
}

